{% extends 'base.html' %}
{% block changepassword %}
{% load static %}

    <style>
        .change-password {
            border-style: hidden;
            width: 350px;
            height: 100%;
            padding: 2% 2% 2% 2%;
            /* background-color:lightseagreen; */
            /* color: honeydew; */
            /* text-align: center; */
            margin: 0;
            position: relative;
            top: 0;
            left: 50%;
            transform: translate(-50%, 10%);
            transition: 30.9s;
            /* width: 50%; */
        }
        .change-password input{
            text-align: center;
        }
        .change-password label{
            text-align: left;
            margin-left: 0px;
            align-content: flex-start;
        }
        .change-password h1, p{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .change-password .footer{
            border-style: hidden;
            width: 50%;
            height: 100%;
            padding: 2% 2% 2% 2%;
            /* margin-top: 10px; */
            margin: 0;
            position: relative;
            top: 0;
            left: 50%;
            transform: translate(-80%, 10%);
            transition: 30.9s;
        }
        /* .errorlist {
            color: rgb(228, 103, 103);
        } */
    </style>

    <div class="change-password">
        <div class="form" style="height: 100%;">
            <div class="container-fluid">
                <div class="">
                    <form action="" method="POST">
                        <p class="text-center">Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.old_password.errors }}
                            {{ form.old_password.label_tag }} {{ form.old_password }}
                            <br/>
                            <p>{{ form.new_password1.errors }}</p>
                            
                            {{ form.new_password1.label_tag }}
                            {{ form.new_password1 }}
                            {% if form.new_password1.help_text %}
                            <!-- <div class="help" style="color: rgb(248, 68, 68);">{{ form.new_password1.help_text|safe }}</div> -->
                            {% endif %}

                            {{ form.new_password2.errors }}
                            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                            {% if form.new_password2.help_text %}
                            <div class="help">{{ form.new_password2.help_text|safe }}</div>
                            {% endif %}
                            <!-- <label for="uname" class="card-head">Old password :</label> <br />
                            <input type="password" class="form-control" name="old_password" id="uname" placeholder=""> <br />
                            <label for="uname" class="card-head">New Password :</label> <br />
                            <input type="password" class="form-control" name="new_password1" id="np1" placeholder=""> <br />
                            <label for="pword">Confirm new password</label> <br />
                            <input type="password" class="form-control" name="new_password2" id="np2" placeholder=""> <br /> -->
                            <div class="footer">
                                <input type="submit" class="btn btn-outline-success" value="Change password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}